---
const pages = [
  { label: "Home", url: "/" },
  { label: "About me", url: "/about/" },
  { label: "Skills", url: "/skills/" },
  { label: "Projects", url: "/projects/" },
  { label: "Contact me", url: "/contact/" },
];
---

<header
  class="bg-primary h-full sticky top-0 z-10
grid md:grid-cols-(--cols-header) items-center px-3 border-b-8"
>
  <div class="flex mx-auto">
    <i class="fa-solid fa-code mr-4"></i>
    <p><span>Augusto</span> Salazar</p>
  </div>
  <nav class="flex justify-center h-full max-lg:hidden">
    {
      pages.map((page) => (
          <a
            class="px-5 flex items-center
            border-y-4 border-t-primary border-b-primary rounded-t-3xl
            hover:bg-secondary hover:border-b-secondary transition-colors duration-700 delay-100" 
            href={page.url}
          >
            {page.label}
          </a>
      ))
    }
  </nav>
</header>
