---
import "../styles/global.css";
import "../styles/font.css";
import Header from "../components/shared/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 p-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/icon_virus.webp">
		<title>{title}</title>
	</head>
	<body
	class="m-0 p-0 min-h-screen
	font-teko text-white md:text-3xl text-2xl
	grid grid-rows-(--rows-layout) max-lg:grid-rows-(--rows-layout-movil)">
		<Header />
		<slot />
	</body>
</html>